body {
  background-image: url('img01.png.png'); 
  background-size: cover; 
  /* 背景画像を画面全体に均等にカバーするように設定します。余白なく画面を埋めますが、画像が切れることがあります。 */
  background-position: center center; 
  /* 背景画像が常に要素の中心に位置するように設定 */
  background-attachment: fixed; 
  /* 背景画像をビューポートに対して固定し、コンテンツがスクロールしても背景画像は動かないように設定 */
  color: #5a2c0e; 
  text-align: center; 
}

  header {
    background-color: #d17b49;
    display: flex;
    align-items: center;
    padding: 5px 5px; 
    color: white;
  }
  
  #logo {
    width: 50px; 
    height: auto;
  }
  
  h1 {
    font-size: 20px
  }
  
  #description {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 10px 0;
    font-size: 0.8em;
  }
  
  #participants {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  #participants li {
    background-color: #fffaf0;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #d3d3d3;
  }
  
  #questionArea {
    background-color: #fff8e8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px #d3d3d3;
    margin-top: 10px;
  }
  
  button {
    background-color: #d17b49;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: auto;
  }
  
  button:hover {
    background-color: #aa5d36;
  }
  
  #result {
    margin-top: 10px;
    font-weight: bold;
    color: #3e2723;
    font-size: 30px;
    color: red;
  }
  
/* やれる範囲でRWD */
/* まずはデスクトップ版のデザイン */
  @media (min-width: 600px) {

    header {
      justify-content: start; 
      /* 左上にそろえる※centerだとspのように真ん中に集まる仕様 */
    }
    #logo {
      margin-right: 1em; 
    }
  }

  /* sp版のデザイン指定 */
  /* 文字サイズ等はPCベースのため、相対で設定する必要あり */
  @media (max-width: 599px) {
    header {
      justify-content: center; 
      /* ヘッダー内のアイテムを中央揃え */
    }

    #logo {
      margin-right: 0.6em; 
    }

    h1 ,p{
      font-size: 0.9em; 
      /* タイトルのフォントサイズを親要素に対して縮小 */
    }
  
    #participantName, #register, #reset {
      width: 50%; 
      margin: 5px 0; /* 上下に余白を設定し、周囲の要素から離れた見た目にします */
    }
  }
  
  /* 楽にRWDを施すには、どのような構成・考え方を採用すべきか？ 
  例えば、最初はpc版で作成し、それに対する相対比較のような形で文字サイズや余白を決めるべき？*/