body {
  background-image: url('img01.png.png'); 
  background-size: cover; /* 背景画像を画面全体に均等にカバーするように設定します。余白なく画面を埋めますが、画像が切れることがあります。 */
  background-position: center center; /* 背景画像が常に要素の中心に位置するように設定します。 */
  background-attachment: fixed; /* 背景画像をビューポートに対して固定し、コンテンツがスクロールしても背景画像は動かないように設定します。 */
  color: #5a2c0e; 
  text-align: center; 
}

  header {
    background-color: #d17b49;
    display: flex;
    align-items: center;
    padding: 5px 5px; 
    color: white;
  }
  
  #logo {
    width: 50px; 
    height: auto;
  }
  
  h1 {
    font-size: 20px
  }
  
  #description {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 10px 0;
    font-size: 0.8em;
  }
  
  #participantName{
    width: 100%; 
    margin-top: 5px;
  }

#register {
    width: 100%; 
    margin-top: 5px;
  }
#reset {
    width: 100%; 
    margin-top: 5px;
  }

  #participants {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  #participants li {
    background-color: #fffaf0;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #d3d3d3;
  }
  
  #questionArea {
    background-color: #fff8e8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px #d3d3d3;
    margin-top: 10px;
  }
  
  button {
    background-color: #d17b49;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  
  button:hover {
    background-color: #aa5d36;
  }
  
  #result {
    margin-top: 10px;
    font-weight: bold;
    color: #3e2723;
  }
  
  /* Media query for larger screens */
  @media (min-width: 600px) {
    #participantName, #register, #reset {
      width: auto; /* Auto width on larger screens */
      margin: 0 10px; /* Add horizontal margin on larger screens */
      display: inline-block; /* Inline display for side-by-side */
    }
  
    #register, #reset {
      margin-top: 0;
    }
  
    header {
      justify-content: start; /* Align items to the start on larger screens */
    }
  
    #logo {
      margin-right: 20px; /* Add margin between logo and title on larger screens */
    }
  }
  